
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetiva Now';
}

body{
  background-image:url(../fotos/espacio3.webp) ;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#contenedor{
  display: grid;
  grid-template-areas: 
  "nav nav nav"
  "header header header"
  "aside main main"
  "aside main main"
  "footer footer footer";

  grid-auto-columns: 33%
}

header{
  grid-area: header;
  text-align: center;
}

header h1{
  text-transform: uppercase;
}

nav{
  flex-direction: row;
}

a{
  text-decoration: none;
  color: black
}

a:hover{
  color: white
}


article{
  margin: 0.8rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

article h2{
  text-align: center;
}

main{
  grid-area: main;
  
}

aside{
  grid-area: aside;
}

footer{
  grid-area: footer;
  
}

ul{
  list-style: none;
}


footer div img{
  width: 45%;
  height: 55%;
  object-fit: contain;
  border-radius: 5%;
  margin: 1rem;
}

.imgistituto{
  width: 25%;
  height: fit-content;
}

footer{
  height: fit-content;
  display: flex;
  flex-direction: row;
}

footer p{
  display: flex;
  align-items: center;
  text-align: center;
}

/*Movil*/
@media (max-width: 500px) {
  #contenedor{
      grid-template-areas:
      "nav" 
      "header"
      "main"
      "aside"
      "footer";
      
      grid-auto-columns: 100%;
      }

      header{
        margin-left: 15px;
        width: 90%;     
      }

      nav{
        width: 100%;
      }
      
      article{
        width: 92%;
        margin: 15px;
        padding: 15px;
      }

      .claseImg{
        width: 50%;
        height: 50%;
      }
  
      footer{
        width: 90%;
        margin: 10px;
        padding: 10px;
      }
}
/*Tablet*/
@media (min-width: 500px) and (max-width: 700px) {
  #contenedor{
      grid-template-areas:
      "nav nav" 
      "header header"
      "aside main"
      "footer footer";
      
      grid-auto-columns: 50%;
      }
      
  header{
    width: 65%;
    margin-left: 20%;
    
  }

  nav{
    width: 100%;
  }
  
  article{
    width: 88%;
    margin: 25px;
    padding: 25px;
  }

  footer{
    width: 90%;
    margin: 15px;
    padding: 15px;
  }
}

.centro{
  display: flex;
  justify-content: center;
}

.claseImg{
  width: 500px;
  height: 500px;
}

#imgTierra {
  border-radius: 50%;
  background: url(../fotos/mapaMundiTierra.webp);
  background-size: cover;
  box-shadow: inset 0 0 20px black,
              inset -50px -10px 50px rgba(3,32,56,0.7);
              
  animation: world 110s linear infinite;
}

#imgLuna {
  border-radius: 50%;
  background: url(../fotos/mapaMundiLuna.webp);
  background-size: cover;
  box-shadow: inset 0 0 20px black,
              inset -50px -10px 50px rgba(3,32,56,0.7);
              
  animation: world 110s linear infinite;
}

#imgMarte {
  border-radius: 50%;
  background: url(../fotos/mapaMundiMarte.webp);
  background-size: cover;
  box-shadow: inset 0 0 20px black,
              inset -50px -10px 50px rgba(3,32,56,0.7);
              
  animation: world 110s linear infinite;
}

#imgVenus {
  border-radius: 50%;
  background: url(../fotos/mapaMundiVenus.webp);
  background-size: cover;
  box-shadow: inset 0 0 20px black,
              inset -50px -10px 50px rgba(3,32,56,0.7);
              
  animation: world 110s linear infinite;
}

#imgMercurio {
  border-radius: 50%;
  background: url(../fotos/mapaMundiMercurio.webp);
  background-size: cover;
  box-shadow: inset 0 0 20px black,
              inset -50px -10px 50px rgba(3,32,56,0.7);
              
  animation: world 110s linear infinite;
}

#imgJupiter {
  border-radius: 50%;
  background: url(../fotos/mapaMundiJupiter.webp);
  background-size: cover;
  box-shadow: inset 0 0 20px black,
              inset -50px -10px 50px rgba(3,32,56,0.7);
              
  animation: world 110s linear infinite;
}

#imgSol {
  border-radius: 50%;
  background: url(../fotos/mapaMundiSol.webp);
  background-size: cover;
  box-shadow: inset 0 0 20px black,
              inset -50px -10px 50px rgba(3,32,56,0.7);
              
  animation: world 110s linear infinite;
}

#imgSaturno {
  border-radius: 50%;
  background: url(../fotos/8k_saturn.webp);
  background-size: cover;
  box-shadow: inset 0 0 20px black,
              inset -50px -10px 50px rgba(3,32,56,0.7);

  animation: world 110s linear infinite;
}

#imgUrano {
  border-radius: 50%;
  background: url(../fotos/Dh_uranus_texture.webp);
  background-size: cover;
  box-shadow: inset 0 0 20px black,
              inset -50px -10px 50px rgba(3,32,56,0.7);

  animation: world 110s linear infinite;
}

#imgNeptuno {
  border-radius: 50%;
  background: url(../fotos/neptunoTextura.webp);
  background-size: cover;
  box-shadow: inset 0 0 20px black,
              inset -50px -10px 50px rgba(3,32,56,0.7);

  animation: world 110s linear infinite;
}

.venus{
  background-color:rgba(240, 169, 77, 0.555)
}

.tierra{
  background-color:rgba(0, 128, 128, 0.705);
}

.luna{
  background-color: rgba(128, 128, 128, 0.644);
}

.sol{
  background-color:rgba(212, 122, 38, 0.774);
}

.mercurio{
  background-color: rgba(128, 128, 128, 0.726);
}

.marte{
  background-color:rgba(255, 160, 122, 0.692);
}

.jupiter{       
  background-color: rgba(141, 112, 112, 0.541);
}

.saturno{
  background-color:rgba(253, 208, 152, 0.753);
}

.urano{
  background-color: rgba(90, 197, 197, 0.658);
}

.neptuno{
  background-color: rgba(140, 140, 255, 0.733);
}

@keyframes world {
  0%{
    background-position-x: -600px;
  }
  100%{
    background-position-y: 0;
  }
}

@keyframes rotate1 {
  0%{
	transform: rotate( 0deg);
  }
  100%{
	transform: rotate(360deg);
  }
}



   
  